body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

@media screen and (min-width: 900px) {
    .container {
        font-size: calc(((1vw + 2vh) / 2) * 1.5);
        text-align: center;
        margin: 5vh 0;
        padding: 9vh 30vw;
        z-index: 2;
        background-image: linear-gradient(to left, #00000000 0%, #000a 20%, #000a 80%, #0000 100%);
    }

    .counts {
        display: flex;
        justify-content: space-around;
    }

    body {background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url(./IMG_5090.JPG);
    background-size: cover;
    }
}

@media screen and (max-width: 900px) {
    .container {
        font-size: calc(((1vw + 2vh) / 2) * 1.5);
        text-align: center;
        margin: 5vh 0;
        padding: 9vh 30vw;
        z-index: 2;
        background-image: linear-gradient(to left, #00000000 0%, #000a 20%, #000a 80%, #0000 100%);
    }

    .counts {
        display: block;
        justify-content: space-around;
    }

    body {background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url(./photo_2022-09-21_17-52-09.jpg);
    background-size: auto 100%;
    background-position: center;
    }
}

h1 {
    font-family: consolas;
    color: white;
    margin: 0;
}

.tl {
    margin-bottom: 35px;
    font-size: calc(((1vw + 2vh) / 2) * 4);
}
